
@media screen and (max-width: 568px){
    
    header {
      height: 20%;
    }
    .container {
      height: 85vh;
      background-color: red;
    }
    .form {
      border-radius: 0;
      box-shadow: none;
      max-width: 100%;
      max-height: 100%;
    }

    .stepLabel {
      font-size: xx-small;
    }
    .card {
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin: 1px 10px;;
    }
  
    .cardTitle {
      margin: 0 10px;
    }
    .cardContent {
      margin: 0 10px;
    } 
  
    .bottomCard {
      align-items: center;
    }
    .amountWord {
      font-size: medium;
    }
    .amountSum {
      font-size: x-large;
    }
  
    footer > img {
      height: 8px;
      margin: 1px;
    }
  
    footer > span {
      font-size: xx-small;
      text-align: center;
      margin: 5px;
    }
    footer > input {
      border-radius: 0;
    }
  }