@font-face {
  font-family: 'RalewayRegular';
  src: url('fonts/RalewayRegular.eot');
  src: url('fonts/RalewayRegular.eot') format('embedded-opentype'), url('fonts/RalewayRegular.woff2') format('woff2'), url('fonts/RalewayRegular.woff') format('woff'), url('fonts/RalewayRegular.ttf') format('truetype'), url('fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

* {
  box-sizing: border-box;
  color: #7f7f7f;
  font-family: 'RalewayRegular', sans-serif;
  font-feature-settings: "lnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

@media screen and (min-width: 500px) {
  .form {
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 0 30px lightgrey;
    height: 700px;
    position: absolute;
    width: 450px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0 30px lightgrey;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
  }
}

.bankLogo {
  height: 80px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 80px;
}

.checkoutLogo {
  height: 45px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50;
}

.checkoutName {
  color: #61259e;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 500;
  height: 45px;
  position: absolute;
  right: 20px;
  top: 70px;
  width: 50;
}

.step-numbers {
  align-content: center;
  display: flex;
  height: 40px;
  justify-content: space-around;
  left: 40px;
  position: absolute;
  top: 150px;
  width: 360px;
}

.stepName {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stepLabel {
  color: #aaa;
  font-size: 11px;
}

.labelA {
  color: #7f7f7f;
}

.stepCircle {
  align-self: center;
  box-sizing: content-box;
  background: url('img/steps.png');
  background-color: #fafafa;
  background-repeat: no-repeat;
  padding: 0 5px; 
  height: 23px;
  width: 23px;
}

.c1 {
  background-position: -5px -10px;
}

.c2 {
  background-position: -134px -10px;
}

.c3 {
  background-position: -177px -10px;
}

.line {
  background-color: #FEC524;
  height: 1px;
  left: 60px;
  position: relative;
  top: 162px;
  width: 320px;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 360px;
  left: 10px;
  position: relative;
  top: 220px;
  width: 420px;
}

.card {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-size: 14px;
  height: 60px;
  margin: 2px;
  overflow: scroll;
}

.card:hover {
  background-color: rgb(250, 250, 250);
}

.topCard {
  border-radius: 5px 5px 0 0;
}

.bottomCard {
  align-items: flex-end;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
}

.card-title {
  margin-left: 20px;
}

.card-content {
  color: #3e3e3e;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
  max-width: 200px;
  text-align: right;
}

.amountWord {
  font-size: 20px;
  font-weight: 200;
  margin-right: 20px;
}

.amountSum {
  color: #3e3e3e;
  font-size: xx-large;
  margin-right: 20px;
}

footer {
  bottom: 65px;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-evenly;
  position: absolute;

  /* background-color: green; */
  width: 100%;
}

footer > span {
  font-size: 10px;
  text-align: center;
}

footer > img {
  align-self: center;
  height: 15px;
}

.btnNextStep {
  animation: gradient 4s ease-in-out infinite;
  animation-play-state: paused;
  background: linear-gradient(-45deg, #61259e 46.9%, #9065a0 100%, #61259e 46.9%);
  background-size: 200% 200%;
  border-radius: 0 0 15px 15px;
  border-width: 0;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  height: 60px;
  outline: none;
  position: absolute;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.btnNextStep:hover {
  animation-play-state: running;
}
