@font-face {
  font-family: 'RalewayRegular';
  src: url('fonts/RalewayRegular.eot');
  src: url('fonts/RalewayRegular.eot') format('embedded-opentype'), url('fonts/RalewayRegular.woff2') format('woff2'), url('fonts/RalewayRegular.woff') format('woff'), url('fonts/RalewayRegular.ttf') format('truetype'), url('fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

body {
  box-sizing: border-box;
  color: #7f7f7f;
  font-family: 'RalewayRegular', sans-serif;
  font-feature-settings: "lnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}



.form {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 15px;
  box-shadow: 0 0 30px lightgrey;
  height: 100vh;
  min-height: 560px;
  max-height: 700px;
  position: absolute;
  width: 95vw;
  max-width: 450px;
}

/* ------ HEADER -------- */
header {
  height: 30%;
  min-height: 160px;
}

.bankLogo {
  height: 80px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 80px;
}

.checkoutLogo {
  height: 45px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50;
}

.checkoutName {
  color: #61259e;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: 500;
  height: 45px;
  position: absolute;
  right: 20px;
  top: 70px;
  width: 50;
}

.stepNumbers {
  align-content: center;
  display: flex;
  height: 40px;
  justify-content: space-around;
  left: 40px;
  position: absolute;
  top: 140px;
  width: 80%;
}

.stepName {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stepLabel {
  color: #aaa;
  font-size: 11px;
}

.labelA {
  color: #7f7f7f;
}

.stepCircle {
  align-self: center;
  box-sizing: content-box;
  background: url('img/steps.png');
  background-color: #fafafa;
  background-repeat: no-repeat;
  padding: 0 5px; 
  height: 23px;
  width: 23px;
}

.c1 {
  background-position: -5px -10px;
}

.c2 {
  background-position: -134px -10px;
}

.c3 {
  background-position: -177px -10px;
}

.stepLine {
  background-color: #FEC524;
  height: 1px;
  position: relative;
  left: 40px;
  top: 152px;
  width: 80%;
}

/* ------ MAIN -------- */
main {
  height: 55%;
  min-height: 300px;
}
.cards {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-size: 14px;
  height: 20%;
  max-height: 60px;
  margin: 1px 20px;
}

.card:hover {
  background-color: rgb(250, 250, 250);
}

.topCard {
  border-radius: 5px 5px 0 0;
}

.bottomCard {
  align-items: flex-end;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  max-height: 100px;
}

.cardTitle {
  margin-left: 20px;
}

.cardContent {
  color: #3e3e3e;
  font-weight: bold;
  margin-left: auto;
  margin-right: 20px;
  max-width: 200px;
  text-align: right;
}

.amountWord {
  /* font-size: 20px; */
  font-weight: 200;
  margin-right: 20px;
}

.amountSum {
  color: #3e3e3e;
  font-size: xx-large;
  margin-right: 20px;
}

/* ------ FOOTER -------- */
footer {
  display: flex;
  flex-direction: column;
  height: 15%;
  min-height: 100px;
}

footer > span {
  font-size: 10px;
  text-align: center;
  margin: 5px;
}

footer > img {
  align-self: center;
  height: 15px;
  margin: 5px;
}


footer > input  {
  flex-grow: 1;
  background:  #2A0055;
  background-size: 200% 200%;
  border-radius: 0 0 15px 15px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: x-large;
  font-weight: bold;
  width: 100%;
}

footer > input:hover {
  background: linear-gradient(-45deg, #7040A0 46.9%, #2A0055 100%)
}

@media screen and (max-width: 568px){
  .stepLine {
    top: 132px;
  }

  .stepNumbers {
    top: 120px;
  }

  .stepLabel {
    font-size: xx-small;
  }
  .card {
    flex-direction: column;
    justify-content: center;
  }

  .cardTitle {
    margin: 0 auto;
  }
  .cardContent {
    margin: 0 auto;
  }

  .bottomCard {
    align-items: center;
  }
  .amountWord {
    font-size: small;
  }
  .amountSum {
    font-size: x-large;
  }

  footer > img {
    height: 10px;
    margin: 1px;
  }

  footer > span {
    font-size: xx-small;
    text-align: center;
    margin: 5px;
  }
}