<div class="logos">
    <div class="bankLogo"></div>
    <div class="checkout">
        <div class="checkoutLogo"></div>
        <div class="checkoutName">səbət</div>
    </div>
</div>
<div class="steps">
    <div class="stepLine"></div>
    <div class="stepNumbers">
        <div class="stepName">
            <div id="step1c" class="stepCircle c1"></div>
            <span class="stepLabel labelA">MƏLUMAT</span>
        </div>
        <div class="stepName">
            <div id="step2c" class="stepCircle c2"></div>
            <span class="stepLabel">ÖDƏNİŞ</span>
        </div>
        <div class="stepName">
            <div id="step3c" class="stepCircle c3"></div>
            <span class="stepLabel">TAMAMLA</span>
        </div>
    </div>
</div>