<div class="logos">
    <img src="img/bankLogo.png" class="bankLogo">
    <div class="checkout">
        <img src="img/checkoutLogo.png" class="checkoutLogo">
        <div class="checkoutName">səbət</div>
    </div>
</div>
<div class="steps">
    <div class="stepLine"></div>
    <div class="stepNumbers">
        <div class="stepName">
            <div class="stepCircle c1"></div>
            <span class="stepLabel labelA">MƏLUMAT</span>
        </div>
        <div class="stepName">
            <div class="stepCircle c2"></div>
            <span class="stepLabel">ÖDƏNİŞ</span>
        </div>
        <div class="stepName">
            <div class="stepCircle c3"></div>
            <span class="stepLabel">TAMAMLA</span>
        </div>
    </div>
</div>