<div class="cards">
    <div class="card topCard">
        <div class="cardTitle">Ödəyən</div>
        <div class="cardContent">Həşimzadə Ramin</div>
    </div>
    <div class="card">
        <div class="cardTitle">Mobil Nömrə</div>
        <div class="cardContent">+994 (50) 123 45 67</div>
    </div>
    <div class="card">
        <div class="cardTitle">Kimə Ödənilir</div>
        <div class="cardContent">Jumeyrah Hotel LLC</div>
    </div>
    <div class="card">
        <div class="cardTitle">Təyinat</div>
        <div class="cardContent">2 nəfərlik otaq (King Bed)</div>
    </div>
    <div class="card bottomCard">
        <div class="amountWord">Məbləğ</div>
        <div class="amountSum">22.00<span> azn</span></div>
    </div>
</div>