.footerText {
    font-size: 10px;
    text-align: center;
    margin: 5px;
}

.pslogos {
    background: url('../img/psLogos.png')no-repeat;
    background-size: 100%;
    align-self: center;
    height: 15px;
    width: 60px;
    margin-top: 10px;
}

#submitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    flex-grow: 1;
    background: #61259E;
    background-size: 200% 200%;
    border-radius: 0 0 15px 15px;
    border-width: 0;
    padding: 0;
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-size: x-large;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

#submitButton:hover:enabled {
    background-color: #2A0055;
}

#submitButton:disabled {
    transition: none;
    background-color: #DBCFE8;
    cursor: not-allowed;
}