header {
    display: flex;
    flex-direction: column;
    min-height: var(--headerMinHeight);
}

.logos {
    display: flex;
    justify-content: space-between;
}

.logos .bankLogo {
    background: url('../img/bankLogo.png') no-repeat;
    background-size: 100%;
    height: 70px;
    width: 70px;
    margin: 20px;
}

.logos .checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.logos .checkout .checkoutLogo {
    background: url('../img/checkoutLogo.png') no-repeat;
    background-size: 100%;
    height: 45px;
    width: 45px;
}

.logos .checkout .checkoutName {
    color: #61259e;
    font-size: x-large;
    font-variant: small-caps;
    font-weight: 500;
    margin-left: 5px;
}


/* Steps icons and lines */

.stepNumbers {
    display: flex;
    height: 45px;
    justify-content: space-evenly;
}

.stepName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stepLabel {
    color: #aaa;
    font-size: 11px;
}

.icon {
    position: relative;
    height: 23px;
    width: 40px;
    margin: 0 15px;
    z-index: 1;
    background-color: #fafafa;
}

.labelA {
    color: #7f7f7f;
}

.stepLine {
    background-color: #FEC524;
    height: 1px;
    position: relative;
    top: 12px;
    max-width: 100%;
    margin: 0 40px;
}