:root {
    --formMinHeight: calc(var(--headerMinHeight) + var(--mainMinHeight) + var(--footerMinHeight));
    --headerMinHeight: 150px;
    --mainMinHeight: 300px;
    --footerMinHeight: 100px;
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('../fonts/RalewayRegular.eot') format('embedded-opentype'), url('../fonts/RalewayRegular.woff2') format('woff2'), url('../fonts/RalewayRegular.woff') format('woff'), url('../fonts/RalewayRegular.ttf') format('truetype'), url('../fonts/RalewayRegular.svg#RalewayRegular') format('svg');
}

body {
    box-sizing: border-box;
    color: #7f7f7f;
    font-family: 'RalewayRegular', sans-serif;
    font-feature-settings: "lnum";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

.container {
    background-color: #fff;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 15px;
    box-shadow: 0 0 20px 5px lightgrey;
    height: 100%;
    width: 100%;
    max-height: 700px;
    max-width: 450px;
}

header {
    display: flex;
    flex-direction: column;
    height: 30%;
    min-height: var(--headerMinHeight);
}

main {
    min-height: var(--mainMinHeight);
    flex: 1;
}

footer {
    display: flex;
    flex-direction: column;
    min-height: var(--footerMinHeight);
}